* text=auto

*.{js,jsx,mjs,cjs,ts,tsx,css,scss,json,md,mdx,yml,yaml,html,svg,sh} text eol=lf
*.{ps1,cmd,bat} text eol=crlf

*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.pdf binary
